[submodule "yan-yuan-mao-su-cha-shou-ce"]
	path = yan-yuan-mao-su-cha-shou-ce
	url = https://gitee.com/circlelq/yan-yuan-mao-su-cha-shou-ce
[submodule "gs-frontend"]
	path = gs-frontend
	url = https://github.com/PKU-GeekGame/gs-frontend
[submodule "pyinstxtractor"]
	path = pyinstxtractor
	url = https://github.com/extremecoders-re/pyinstxtractor
[submodule "web-manuallab/datalab"]
	path = web-manuallab/datalab
	url = https://github.com/myisabella/datalab
[submodule "web-manuallab/Autolab"]
	path = web-manuallab/Autolab
	url = https://github.com/thezzisu/Autolab/
[submodule "algo-randomzoo/task2/RNGeesus"]
	path = algo-randomzoo/task2/RNGeesus
	url = https://github.com/deut-erium/RNGeesus
[submodule "algo-gzip/pyflate"]
	path = algo-gzip/pyflate
	url = https://github.com/vadmium/pyflate
[submodule "FlagFinder"]
	path = FlagFinder
	url = https://github.com/SakuraRabbit18/FlagFinder
[submodule "Sunshine"]
	path = Sunshine
	url = https://github.com/LizardByte/Sunshine
[submodule "memos"]
	path = memos
	url = https://github.com/usememos/memos
[submodule "binary-pymaster/pycdc"]
	path = binary-pymaster/pycdc
	url = https://github.com/zrax/pycdc
